# VolumeSnapshotClass for RDS CSI Driver
# Requires VolumeSnapshot CRDs to be installed cluster-wide:
#   kubectl kustomize https://github.com/kubernetes-csi/external-snapshotter/client/config/crd | kubectl create -f -
# And snapshot-controller to be deployed:
#   kubectl kustomize https://github.com/kubernetes-csi/external-snapshotter/deploy/kubernetes/snapshot-controller | kubectl create -f -
{{- if .Values.snapshotClass.enabled }}
apiVersion: snapshot.storage.k8s.io/v1
kind: VolumeSnapshotClass
metadata:
  name: {{ .Values.snapshotClass.name }}
  labels:
    {{- include "rds-csi.labels" . | nindent 4 }}
driver: rds.csi.srvlab.io
deletionPolicy: {{ .Values.snapshotClass.deletionPolicy | default "Delete" }}
{{- end }}
